@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-slow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee-bidirectional {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-50%);
  } /* Bergerak ke kiri */
  100% {
    transform: translateX(0%);
  } /* Kembali ke posisi awal */
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}

.animate-scroll-slow {
  animation: scroll-slow 30s linear infinite;
}

.animate-marquee-bidirectional {
  animation: marquee-bidirectional 30s linear infinite; /* Durasi lebih lama untuk mengakomodasi perjalanan bolak-balik */
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}
